#!/bin/sh

# This file will be re-executed every time anything in .chezmoiexternals.toml
# is updated, but instead of having type archive or archive-file unpack for me,
# thus incuring a cost every time we run `chezmoi apply` (since it verifies all
# the extracted files from the archive), I record the sum and only unpack again
# if it changed.

# {{ include (joinPath .chezmoi.sourceDir ".chezmoiexternal.toml.tmpl") | sha256sum }}

echo "-> externals.sh"

dl="${HOME}/.cache/chezmoi/downloads"

sum() {
    file="${1}"
    sum="${1}.sum"
    old_sum="x"
    new_sum="y"

    if [ -r "${sum}" ]; then
        old_sum=$(cat "${sum}")
    fi

    if [ -r "${file}" ]; then
        new_sum=$(sha256sum "${file}")

        if [ "${old_sum}" != "${new_sum}" ]; then
            printf "%s" "${new_sum}" >"${sum}"

            return 0
        else
            return 1
        fi
    fi
}

_rm() {
    if [ -e "${1}" ]; then
        mv "${1}" "${1}.old"
        rm -rf "${1}.old"
    fi
}

file="${dl}/ble-nightly.tar.xz"
tag="{{ (gitHubLatestRelease "akinomyoga/ble.sh").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar xJf "${file}" -C /tmp
    bash /tmp/ble-nightly/ble.sh --install ~/.local/share
    rm -rf /tmp/ble-nightly
fi

file="${dl}/carapace-bin.tar.gz"
tag="{{ (gitHubLatestRelease "carapace-sh/carapace-bin").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar -xzf "${file}" -C "${HOME}/.local/bin" "carapace"
    chmod +x "${HOME}/.local/bin/carapace"
fi

file="${dl}/efm-langserver.tar.gz"
tag="{{ (gitHubLatestRelease "mattn/efm-langserver").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar --wildcards --strip-components=1 -xzf "${file}" -C "${HOME}/.local/bin" "**/efm-langserver"
    chmod +x "${HOME}/.local/bin/efm-langserver"
fi

file="${dl}/helix.tar.xz"
tag="{{ (gitHubLatestRelease "helix-editor/helix").TagName }}"
dir="${HOME}/.config/helix/runtime"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar --wildcards --strip-components=1 -xJf "${file}" -C "${HOME}/.local/bin" "**/hx"
    chmod +x "${HOME}/.local/bin/hx"

    _rm "${dir}"
    mkdir "${dir}"
    tar --strip-components=2 -xJf "${file}" -C "${dir}"
fi

tag="{{ (gitHubLatestRelease "be5invis/iosevka").TagName }}"
file="${dl}/iosevka.zip"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    unzip -qqo "${file}" "Iosevka.ttc" -d "${HOME}/.local/share/fonts"
fi

tag="{{ (gitHubLatestRelease "be5invis/iosevka").TagName }}"
file="${dl}/iosevka-aile.zip"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    unzip -qqo "${file}" "IosevkaAile.ttc" -d "${HOME}/.local/share/fonts"
fi

file="${dl}/ioskeleymono.zip"
tag="{{ (gitHubLatestRelease "ahatem/IoskeleyMono").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    unzip -qqjo "${file}" "Normal/*" "SemiCondensed/*" -d "${HOME}/.local/share/fonts"
fi

file="${dl}/lua-language-server.tar.gz"
tag="{{ (gitHubLatestRelease "LuaLS/lua-language-server").TagName }}"
dir="${HOME}/src/lua-language-server"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    _rm "${dir}"
    mkdir "${dir}"
    tar -xzf "${file}" -C "${dir}"
    chmod +x "${dir}/bin/lua-language-server"
fi

file="${dl}/nvim.tar.gz"
tag="{{ (gitHubLatestRelease "neovim/neovim").TagName }}"
dir="${HOME}/src/nvim"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    _rm "${dir}"
    mkdir "${dir}"
    tar --strip-components=1 -xzf "${file}" -C "${dir}"
    chmod +x "${dir}/bin/nvim"
fi

file="${dl}/pragmasevka.zip"
tag="{{ (gitHubLatestRelease "shytikov/pragmasevka").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    unzip -qqo "${file}" -d "${HOME}/.local/share/fonts"
fi

file="${dl}/rumdl.tar.gz"
tag="{{ (gitHubLatestRelease "rvben/rumdl").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar -xzf "${file}" -C "${HOME}/.local/bin" "rumdl"
    chmod +x "${HOME}/.local/bin/rumdl"
fi

file="${dl}/taplo.gz"
tag="{{ (gitHubLatestRelease "tamasfe/taplo").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    gzip -dc "${file}" >"${HOME}/.local/bin/taplo.new"
    mv "${HOME}/.local/bin/taplo.new" "${HOME}/.local/bin/taplo"
    chmod +x "${HOME}/.local/bin/taplo"
fi

file="${dl}/yamlfmt.tar.gz"
tag="{{ (gitHubLatestRelease "google/yamlfmt").TagName }}"
if sum "${file}"; then
    echo "-> $(basename "${file}") ${tag}"
    tar -xzf "${file}" -C "${HOME}/.local/bin" "yamlfmt"
    chmod +x "${HOME}/.local/bin/yamlfmt"
fi

case "${CHEZMOI_OS+unset}" in
"linux")
    case "${CHEZMOI_KERNEL_OSRELEASE+unset}" in
    *"microsoft"*)
        file="${dl}/interception.zip"
        tag="{{ (gitHubLatestRelease "jtroo/kanata").TagName }}"
        if sum "${file}"; then
            echo "-> $(basename "${file}") ${tag}"
            mkdir -p "${USERPROFILE:?}/kanata"
            cp "${file}" "${USERPROFILE:?}/kanata/interception.zip"
        fi

        file="${dl}/kanata_win.zip"
        tag="{{ (gitHubLatestRelease "oblitum/Interception").TagName }}"
        if sum "${file}"; then
            echo "-> $(basename "${file}") ${tag}"
            mkdir -p "${USERPROFILE:?}/kanata"
            unzip -p "${dl}/kanata_win.zip" "kanata_windows_gui_winIOv2_x64.exe" >"${USERPROFILE:?}/kanata/kanata.exe.new"
        fi
        ;;
    *) ;;
    esac
    ;;
*) ;;
esac
