[".cache/chezmoi/downloads/efm-langserver.tar.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "mattn/efm-langserver" "efm-langserver_*_linux_amd64.tar.gz" }}"
    refreshPeriod = "168h" 

[".cache/chezmoi/downloads/helix.tar.xz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "helix-editor/helix" "helix-*-x86_64-linux.tar.xz" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/iosevka.zip"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "be5invis/iosevka" "SuperTTC-Iosevka-*.zip" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/iosevka-aile.zip"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "be5invis/iosevka" "SuperTTC-IosevkaAile-*.zip" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/lua-language-server.tar.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "LuaLS/lua-language-server" "lua-language-server-*-linux-x64.tar.gz" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/nvim.tar.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-linux-x86_64.tar.gz" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/rumdl.tar.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "rvben/rumdl" "rumdl-v*-x86_64-unknown-linux-musl.tar.gz" }}"
    refreshPeriod = "168h" 

[".cache/chezmoi/downloads/taplo.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "tamasfe/taplo" "taplo-linux-x86_64.gz" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/yamlfmt.tar.gz"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "google/yamlfmt" "yamlfmt_*_Linux_x86_64.tar.gz" }}"
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

[".cache/chezmoi/downloads/kanata_winIOv2.exe"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "jtroo/kanata" "kanata_winIOv2.exe" }}"
    refreshPeriod = "168h"

[".cache/chezmoi/downloads/interception.zip"]
    type = "file"
    url = "{{ gitHubLatestReleaseAssetURL "oblitum/Interception" "interception.zip" }}"
    refreshPeriod = "168h"

{{   end }}
{{ end }}
