[submodule "base16-xresources"]
	path = base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
	ignore = dirty
[submodule "base16-mintty"]
	path = base16-mintty
	url = https://github.com/iamthad/base16-mintty.git
	ignore = dirty
[submodule "base16-hexchat"]
	path = base16-hexchat
	url = https://github.com/Diablo-D3/base16-hexchat.git
	ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty

